<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Animate CSS CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css"
        type="text/css" />

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
</head>

<body class="d-flex flex-column h-100">

    <header class="flex-shrink-0 container mt-5">
        <nav class="navbar navbar-expand-lg navbar-light">

            <a class="navbar-brand" href="/">
                <h5><b>Air <sup>VN</sup></b></h5>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link " href="/about">About</a>
                    <a class="nav-item nav-link " href="https://github.com/tungnt2k"><i
                            class="fab fa-1x fa-github"></i></a>
                </div>
            </div>

        </nav>
    </header>

    <main class="flex-shrink-0 container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Hello, I'm Tung!</h1>
            <p class="lead">I'm a student of the <b>Thuy Loi University</b>.<img style="height: 30px;"
                    src="https://kenh76.vn/icon-facebook/assets/img/emoji/1f62c.png" /></p>
            <hr class="my-4">
            <p> This is my pet project .</p>
        </div>
    </main>

    <footer>
        <footer class="mt-auto py-3 text-center">

            <small class="text-muted mb-2">
                <i class="fas fa-code"></i> with <i class="fas fa-heart"></i>
                by <strong>Thanh Tung</strong>
            </small>

            <div class="container-fluid justify-content-center">
                <a class="social mx-1" href="mailto:tungnt2k@gmail.com" style="color: #6c757d"
                    onmouseover="this.style.color='#db4437'" onmouseout="this.style.color='#6c757d'">
                    <i class="fas fa-envelope fa-1x"></i>
                </a>
                <a class="social mx-1" href="https://www.facebook.com/tung.thanh19122k" style="color: #6c757d"
                    onmouseover="this.style.color='#3b5998'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-facebook fa-1x"></i>
                </a>
                <a class="social mx-1" href="https://github.com/tungnt2k" style="color: #6c757d"
                    onmouseover="this.style.color='#333333'" onmouseout="this.style.color='#6c757d'">
                    <i class="fab fa-github fa-1x"></i>
                </a>
            </div>

        </footer>
        <!-- GitHub Buttons -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>

        <!-- jQuery CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper.js CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>

        <!-- Bootstrap JS CDN -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <!-- wow.js CDN & Activation -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
        <script> new WOW().init(); </script>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</body>

</html>